[address]
name="Max Mustermann"
address="Musterstraße 18"
zip="0815"
city="Musterhausen"

[bankAccount]
dueDateText="7 Tage"
accountOwner="Max Mustermann"
bank="SOME BANK NAME"
iban="SOMEIBAN"
bic="SOMEBIC"

[recipient]
name="Mustermann GmbH"
address="Musterstraße 25"
zip="0815"
city="Musterhausen"
